.sidebar {
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  width: 250px;
  background-color: #fff;
  transition: transform 500ms ease;
  padding: 20px;
  transform: translateX(100%);
}

.sidebar.open {
  transform: translateX(0);
}

.sidebar.close {
  transform: translateX(100%);
}

.sidebar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.sidebar-title {
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 28px;
  color: #000;
}

.menu-item {
  text-align: center;
  cursor: pointer;
  margin: 10px 0;
  font-weight: bold;
  transition: color 200ms ease;
  color: #000;
}

.menu-item:hover {
  color: #0783db;
}

.submenu {
  transition: transform 300ms ease;
}

.submenu-item {
  text-align: center;
  margin: 5px 0;
  cursor: pointer;
  transition: color 200ms ease;
  color: #000;
}

.submenu-item:hover {
  color: #0077cc;
}
